.card {
    background: #fff;
    border: none;
    height: 100%;
    margin: 0.3rem;
    position: relative;
    width: 18%;
    text-align: left;
    cursor: pointer;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  .card > .img-container > img {
    width: 100%;
  }
  
  .card :hover {
    box-shadow: 0 3px 15px rgba(153, 153, 153, 0.616),
      0 3px 15px rgba(153, 153, 153, 0.486);
    border-radius: 50%;
  }